<%- include('../partials/headlinks') %>

<!-- Navbar Section Start -->
    <%- include('../partials/navbar') %>
<!-- NAvbar Section End -->

<!-- Balaji-Star Content Start -->
<section calss="Teams-section-23">
     
  <!-- <h5>this section is slider</h5> -->

  <div class="scroll-main">
    <div class="scrolling-wrapper">
      <div class="scroll-card"><a href="../wada"><img src="https://i.ibb.co/YRyN8rk/Wada-Warriors.png" alt="img-1" /></a></div>
      <div class="scroll-card"><a href="../rajmudra"><img src="https://i.ibb.co/h8HJP7T/Rajmudra-royals.png" alt=".."></a></div>
      <div class="scroll-card"><a href="../balaji-star"><img src="https://i.ibb.co/BfKX4Gw/Balaji-stars.png" alt=".."></a></div>
      <div class="scroll-card"><a href="../bn-gavare"><img src="https://i.ibb.co/mcXZSrF/Bn-Gavare.png" alt=".."></a></div>
      <div class="scroll-card"><a href="../laxmiraman"><img src="https://i.ibb.co/mvTSqh2/Laxmiraman-Strikers.png" alt=".."></a></div>
      <div class="scroll-card"><a href="../mauli"><img src="https://i.ibb.co/h2k165f/Mauli-yodhas.jpg" alt=".."></a></div>
      <div class="scroll-card"><a href="../onenonly"><img src="https://i.ibb.co/XtWtp6L/OneNOnly.png" alt=".."></a></div>
      <div class="scroll-card"><a href="../rokdeshwar"><img src="https://i.ibb.co/tZBqX9R/rokdeshwar-dev.png" alt=".."></a></div>
      <div class="scroll-card"><a href="../sadgurusai"><img src="https://i.ibb.co/cr0j7pR/sadgurusai-spart.png" alt=".."></a></div>
      <div class="scroll-card"><a href="../vaishnawi"><img src="https://i.ibb.co/MBMrVcD/vaishnavi-borw.jpg" alt=".."></a></div>
    </div>
  </div>

    <section class="team-details">
      
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://i.ibb.co/tZBqX9R/rokdeshwar-dev.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">ROKDESHWAR WARRIORS</h3>
              <h5 class="card-text">CAPTAIN : SANTOSH KULLE</h5>
              <h5 class="card-text">OWNER : ROKDESHWAR DEVELOPERS</h5>
              <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
        </div>
      </div>
      
      </section>
      <section class="team-players">
        <div class="cards-team">
          <div class="row row-cols-1 row-cols-md-4 g-4">
            <% teamPlayers.forEach(player => { %>
            <div class="col">
              <div class="card h-100">
                <img
                  src="data:image/png;base64,<%= player.playerPhoto.toString('base64') %>"
                  class="card-img-top"
                  alt="Player Photo"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <%= player.firstName %> <%= player.lastName %>
                  </h5>
                  <!-- Include other player details as needed -->
                </div>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
      </section>

     
</section>
<!-- Balaji-Star Content End -->


<!--Footer Section -->
<%- include('../partials/footer') %>

<!-- Links Of Javascript  Required -->

<%- include('../partials/footlinks') %>